services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - main

  backend:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    restart: unless-stopped
    volumes:
      - ./app/honest_sign/static:/app/honest_sign/static:rw
      - ./app/honest_sign/static:/app/honest_sign/media:rw
    env_file: .env
    environment:
      DJANGO_DATABASE_HOST: postgres
      DEBUG: False
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"
    networks:
      - main

networks:
  main:
    driver: bridge
